{% extends 'layout.html.twig' %}

{% block title %}
    Detalle: {{ enlace.nombre }}
{% endblock %}

{% block content %}
    {% for mensaje in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endfor %}
    <h1>{{ enlace.nombre }}</h1>

    <div class="alert alert-warning">
        ¿Está seguro de que desea eliminar el enlace? La operación no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('enlaces_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de enlaces</a>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar enlace</button>
    </form>

{% endblock %}

