{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hola mundo {{ dato }} {{ numero }}</h1>
    Los dias de la semana son: {{ dia(join (', ')) }}
    <ul>{% for semana in dia %}
    <li>Dia: {{ semana }}</li>
        {% endfor %}
    </ul>
{% endblock %}